# Dependencies
node_modules

# Build outputs
dist

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea

# Git
.git

# Database
*.db
*.sqlite

# Yarn
.yarn
.pnp.*
yarn.lock

# Package manager
package-lock.json
**/package-lock.json

# Coverage
coverage
.nyc_output

# Misc
*.min.css